.container {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f0f1f3;
    padding: 20px 0;
    transform-origin: top;
    color: black;
}

.btn {
    padding: 20px;
    text-align: right;
    position: fixed;
    z-index: 50;
    width: 100%;
}

.flexCol {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    font-size: 30px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.linkWrapper {
    overflow: hidden;
}

.linkItem {
    color: black;
}